body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
}

.dummmy-text {
    font-size: 1.3rem;
    font-weight: 400;
    color: #777777;
    margin-bottom: 30px;
}

section {
    height: 500px;
    margin-bottom: 50px;
}

.alo {
    color: orange;
}

.half-width {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
    margin-top: 20px;
}

.hire {
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(tomato, yellow);
    color: white;
    padding: 14px 15px;
    border-radius: 15px;
    text-transform: uppercase;
}

#top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#dream-part {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}
.xp{
    height: 300px;
    background-image:url(images/xp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.shadow{
    box-shadow: 10px 20px 40px gray;
    border: 10px;
    border-radius: 15px;
}
#baby{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#pro{
    border-left: 5px solid;
    border-image: 
    linear-gradient(lightyellow,orange) 1 100%;
    border-image-slice: 1;
    background-color: white;
}
footer{
    text-align: center;
}